body, html {
    height: 100%;
}


h1, h2, p {
    font-family: "Arial", Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

.banner {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("media/banners/pusharmexercisesprogram.png");

    /* Set a specific height */
    height: 30%;

    /* Position and center the image to scale nicely on all screens */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:650px) {
    .column {
        width: 100%;
    }
	
	
		
}

.button {
  
  border: none;
  color: white;
  
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: "Arial", Arial, sans-serif;

}

.button:hover {opacity: 1}